<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-2 mt-3">
      <h1><%= @recipe.name %>レシピ編集</h1>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <%= form_with model: @recipe, method: :patch  do |f| %>
      
        <table class="table table-borderless">
          <tr>
            <td><h4>画像</h4></td>
            <td><%= f.file_field :recipe_image, accept: "image/*" %></td>
          </tr>
          
          <tr>
            <td><h4>レシピ名</h4></td>
            <td><%= f.text_field :name %></td>
          </tr>
          
          <tr>
            <td><h4>説明</h4></td>
            <td><%= f.text_area :explanation %></td>
          </tr>
          
          <tr>
            <td><h4>タグ</h4></td>
            <td><%= f.text_field :tag %></td>
          </tr>
          
          <tr>
            <%= f.fields_for :recipe_ingredients do |t| %>
            <td><%= render "recipe_ingredient_fields", f: t %></td>
            <% end %>
            <td><%= link_to_add_association "+フォームを追加", f, :recipe_ingredients, class: "btn btn-block" %></td>
          </tr>
          
          <tr>
            <%= f.fields_for :procedures do |t| %>
            <td><%= render "procedure_fields", f: t %></td>
            <% end %>
            <td></td>
            <td><%= link_to_add_association "+フォームを追加", f, :procedures, class: "btn btn-block" %></td>
          </tr>
          
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>