<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <%= render 'layouts/error', obj: @recipe %>
      <h1 class="mt-3">新規投稿</h1>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-au">
      <%= form_with model: @recipe, local: true do |f| %>
      
      <table class="table table-borderless mt-3">
        <tr>
          <td><h4>画像</h4></td>
          <td><%= f.file_field :recipe_image, accept: "image/*" %></td>
        </tr>
          
          <tr>
            <td><h4>レシピ名</h4></td>
            <td><%= f.text_field :name %></td>
          </tr>
          
          <tr>
            <td><h4>説明</h4></td>
            <td><%= f.text_area :explanation %></td>
          </tr>
          
          <tr>
            <td><h4>タグ</h4></td>
            <td><%= f.text_field :tag %></td>
          </tr>
        
          <tr>
            <td><h4>材料・分量</h4></td>
            <%= f.fields_for :recipe_ingredients do |t| %>
            <td class="d-block"><%= render "recipe_ingredient_fields", f: t %></td>
            <% end %>
            <td><%= link_to_add_association "+フォームを追加", f, :recipe_ingredients, class: "btn btn-block" %></td>
          </tr>
          
          <tr>
            <td><h4>手順</h4></td>
            <%= f.fields_for :procedures do |t| %>
            <td class="d-block"><%= render "procedure_fields", f: t %>
            <% end %>
            </td>
            
            <td><%= link_to_add_association "+フォームを追加", f, :procedures, class: "btn btn-block" %></td>
          </tr>
          
          <tr>
            <td></td>
            <td><%= f.submit "投稿" %></td>
          </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>