<div class="container">
  <%= render 'layouts/error', obj: @user %>
  <div class="row">
    <div class="col offset-2 my-5">
      <h2 class="col-4 bg-light">ユーザー情報編集</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10 offset-2">
      <%= form_with model: @user do |f| %>
      
      <table class="table table-borderless">
        <tr>
          <td>ユーザーネーム</td>
          <td><%= f.text_field :name %></td>
        </tr>
        
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        
        <tr>
          <td><%= f.submit "編集内容を保存", class: 'btn btn-success' %></td>
          <td><%= link_to "退会する", confirm_users_path, class: 'btn btn-danger' %></td>
        </tr>
      </table>
      
      <% end %>
    </div>
  </div>
</div>